<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="/bootstrap-3.3.6-dist/css/bootstrap.min.css">

    <!-- VENDOR SCRIPTS -->
    <script type="text/javascript" src="/jquery-2.1.4/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/handlebars-v4.0.5/handlebars-v4.0.5.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="js/login.js"></script>
    <title>ex.talk</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>ex.talk</h1>
        <p>If there's a if..</p>
      </div>
    </div>
    <!-- Sign up form -->
    <section class="container">
     <div class="row">
     <div class="col-md-10 col-md-offset-1">
       <form class="form-horizontal"  id='signup-form'>
         <fieldset>
           <h2>Sign Up</h2><hr>
           <!-- Username input-->
           <div class="form-group">
             <div class="col-md-4">
             <input type="text" name="username" class="form-control input-md" placeholder="User Name" autocomplete="off" required="">
             </div>
           </div>
           <!-- Phone Number input-->
           <div class="form-group">
             <div class="col-md-4">
             <input type="text" name="phoneNum" class="form-control input-md" placeholder="Phone Number (10 digit only)" autocomplete="off" required="">
             </div>
           </div>
           <!-- Password input -->
           <div class="form-group">
             <div class="col-md-4">
             <input type="password" name="password" class="form-control input-md" placeholder="Password" autocomplete="off" required="">
             </div>
           </div>
           <!-- Button -->
           <div class="form-group">
             <div class="col-md-4">
               <button id="signUp" name="singlebutton" class="btn btn-default">Sign Up</button>
             </div>
           </div>
         </fieldset>
       </form>
     </div>
     </div>
   </section>

   <!-- Log in form -->
   <section class="container">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <form class="form-horizontal"  id='login-form'>
        <fieldset>
          <h2>Log In</h2><hr>
          <!-- Username input-->
          <div class="form-group form-inline">
            <div class="col-md-4">
            <input type="text" name="userName" class="form-control input-md" placeholder="User Name" autocomplete="off" required="">
            <p hidden id="wrongUser" style="color: red">* user name can't find.</p>
            </div>
          </div>
          <!-- Password input -->
          <div class="form-group">
            <div class="col-md-4">
            <input type="password" name="password" class="form-control input-md" placeholder="Password" autocomplete="off" required="">
            </div>
          </div>
          <!-- Button -->
          <div class="form-group">
            <div class="col-md-4">
              <button id="logIn" name="singlebutton" class="btn btn-default">Log In</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    </div>
   </section>

  </body>
</html>
