{{> header}}

    <div class="jumbotron">
      <div class="container">
        <h1>To ex... </h1>
      </div>
    </div>

    <!-- From section -->
    <section class="container" id="msg-section">
     <div class="row">
     <div class="col-md-6 col-md-offset-1">

       <form class="form-horizontal" id='msg-form'>
         <fieldset>

           <!-- Form Name -->
           <legend>Add New Message</legend>

           <!-- Text input-->
           <div class="form-group">
             <label class="col-md-4 control-label" for="toName">His/Her Name</label>
             <div class="col-md-4">
             <input id="toName" name="toName" type="text" placeholder="" class="form-control input-md" required="">
             </div>
           </div>

           <!-- Text input-->
           <div class="form-group">
             <label class="col-md-4 control-label" for="toNum">His/Her Phone</label>
             <div class="col-md-4">
             <input id="toNum" name="toNum" type="text" placeholder="(10 digit only)" class="form-control input-md" required="">
             </div>
           </div>

           <!-- Text input-->
           <div class="form-group">
             <label class="col-md-4 control-label" for="msgText">Message</label>
             <div class="col-md-4">
             <input id="msgText" name="msgText" type="text" placeholder="" class="form-control input-md" required="">

             </div>
           </div>

           <!-- Button -->
           <div class="form-group">
             <label class="col-md-4 control-label" for="singlebutton"></label>
             <div class="col-md-4">
               <button id="submitMsg" name="singlebutton" class="btn btn-primary">Send Message</button>
             </div>
           </div>
         </fieldset>
       </form>
     </div>
     </div>
   </section>

   <section class="container" id="match-section">














   <!-- custom script -->
   <script type="text/javascript" src="js/new.js"></script>
  </body>
</html>
